<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="whalethedvaa.whalethedvaa">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/whale_main_background"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/whale_main_background"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".MyApplication"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PoorAuthenticationKiller">
        </activity>
        <activity android:name=".PoorAuthenticationMed">
        </activity>
        <activity
                android:name="com.example.paulb.whale2fa.tfaKiller"
                android:label="@string/title_activity_tfa_killer"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.example.paulb.whale2fa.tfaMedium">
        </activity>
        <activity android:name="com.example.paulb.whale2fa.tfaEasy">
        </activity>
        <activity android:name=".PoorAuthentication">
        </activity>
        <activity android:name=".TheWhala">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DifficultySelector">
        </activity>
        <activity android:name=".ProgressPage">
        </activity>
        <activity android:name=".HardCoding">
        </activity>
        <activity android:name=".SQLI">
        </activity>
        <activity android:name=".sqli_easy">
        </activity>
        <activity android:name=".sqli_medium">
        </activity>
        <activity android:name=".sqli_hard">
        </activity>
        <activity android:name=".InsecureLogging">
        </activity>
        <activity android:name=".VulnSelection">
        </activity>
        <activity android:name=".FurtherReading">
        </activity>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>