<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="whalethedvaa.whalethedvaa">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/whale_main_background"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/whale_main_background"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Settings">
        </activity>
        <activity android:name=".TheWhala">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivityMenu">
        </activity>
        <activity
                android:name=".VulnSelection"
                android:label="@string/title_activity_vuln_selection"
                android:parentActivityName=".BaseActivityMenu"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="whalethedvaa.whalethedvaa.BaseActivityMenu"/>
        </activity>
        <activity android:name=".DifficultySelector">
        </activity>
        <activity android:name=".ProgressPage">
        </activity>
        <activity android:name=".HardCoding">
        </activity>
        <activity android:name=".SQLI">
        </activity>
        <activity android:name=".ManInTheMiddle">
        </activity>
        <activity android:name=".InsecureDataStorage">
        </activity>
        <activity android:name=".InsecureTokens">
        </activity>
        <activity android:name=".InsecureLogging">
        </activity>
        <activity android:name=".UnencryptedHttp">
        </activity>
    </application>

</manifest>